/* BASIC */

* {
  box-sizing: border-box;
}

a {
  color: #92badd;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

li>.nav-link {
  /*
    Problème d'affichage : il y a un rectangle qui s'affiche 
    */
  border-radius: 10px;
  width: 100px;
  text-align: center;
}

li>.nav-link:hover {
  /*
    On entoure les liens du menus de bleu au moment du survol
    */
  background-color: #56baed;
  border-radius: 10px;
  text-decoration: none;
}

/* Design Connexion.php */
#connexionPasOk {
  color: red;
}

#connexionOk {
  color: greenyellow;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 86%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}




/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}


/* FORM TYPOGRAPHY*/

input[type=button],
input[type=submit],
input[type=reset] {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
  background-color: #39ace7;
}

input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text],
input[type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus,
input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder input[type=text]:placeholder {
  color: #cccccc;
}



/* ANIMATIONS */

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after {
  width: 100%;
}

h1 {
  color: #60a0ff;
}

/* OTHERS */

*:focus {
  outline: none;
}

#icon {
  width: 70%;
}

footer {
  background-color: #e1d5de;
  z-index: -1;
  border-radius: 5px;
  overflow: hidden; /* Petit problème de marge de la div à l'intérieur du footer */
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background-color: #2c5a57;
  background-image: linear-gradient(#101922, #275451);
  text-align: center;
  line-height: 1.45;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.mdpValide {
  color: greenyellow;
}

.mdpInvalide {
  color: red;
}

.container {
  width: 75%;
  height: 70vh;
  min-height: 84.5vh;
  background-color: #ffffff;
  border-radius: 25px;
  overflow: scroll;
}

.table {
  overflow: auto;
  height: 600px;
}

table

/* Le tableau en lui-même */
  {
  margin: auto;
  /* Centre le tableau */
  border: 2px solid pink;
  /* Bordure du tableau avec effet 3D (solid) */
  border-collapse: collapse;
  /* Colle les bordures entre elles */
  border-style: hidden;
  /* Enlève les bordures extérieures */
  border-radius: 15px;
  height: 20vh;
}

th

/* Les cellules d'en-tête */
  {
  background-color: grey;
  color: white;
  font-size: 1.1em;
  text-align: center;
}

td

/* Les cellules normales */
  {
  border: 1px solid pink;
  text-align: center;
  /* Tous les textes des cellules seront centrés*/
  padding: 5px;
  /* Petite marge intérieure aux cellules pour éviter que le texte touche les bordures */
}

tr {
  border: 1px solid black;

}

td img {
  width: 20vh;
  height: auto;
}